
nav > .nav.nav-tabs{

	border: none;
    color:#fff;
    background: rgba(24,188,156);
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
    border: none;
    padding: 18px 25px;
	padding: 0px;
    color:#000;
	vertical-align: middle;
    background: rgba(255,255,255);
    border-radius:0;
	max-width: 16.666666%;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -40px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: rgba(24,188,156) ;
}
.tab-content{
	background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid rgba(24,188,156);
    border-bottom:5px solid rgba(24,188,156);
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: rgba(24,188,156);
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}